<aside class="sidebar">
  <div class="sidebar-header">
    <img src="assets/logo/logo_astranimbus_svg.svg" alt="Astra Nimbus Logo" class="sidebar-logo">
    <div class="brand-info">
      <h2 class="brand-name">Astra Nimbus</h2>
      <span class="brand-role">Administrator</span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li class="nav-item">
        <a routerLink="/admin/dashboard" routerLinkActive="active"><i class="fas fa-th-large"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/vuelos-admin" routerLinkActive="active"><i class="fas fa-route"></i> Vuelos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/estadisticas" routerLinkActive="active"><i class="fas fa-chart-pie"></i> Estadísticas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/flota" routerLinkActive="active"><i class="fas fa-plane"></i> Flota aérea</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/nomina" routerLinkActive="active"><i class="fas fa-money-check-alt"></i> Nómina</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/reportes" routerLinkActive="active"><i class="fas fa-file-alt"></i> Reportes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/personal" routerLinkActive="active"><i class="fas fa-cogs"></i> Personal</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/usuarios" routerLinkActive="active"><i class="fas fa-cog"></i> Usuarios</a>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
    </button>
  </div>
</aside>
