<div class="admin-container">

  <app-admin-sidebar></app-admin-sidebar>

  <main class="main-content">

    <header class="topbar">
      <div class="welcome-box">
        <h1>Gestión de Flota</h1>
        <p>Administra las aeronaves registradas en el sistema</p>
      </div>
      <div class="user-profile">
        <div class="avatar-circle">
          {{ currentUser?.nombreCompleto?.charAt(0) || 'A' }}
        </div>
      </div>
    </header>

    <div class="section-header">
      <h2 class="page-title">Aeronaves</h2>
      <button class="btn-primary" routerLink="/admin/create-plane">
        <i class="fas fa-plus"></i> Nueva Aeronave
      </button>
    </div>

    <div class="aircraft-grid">

      @for (avion of aeronaves; track avion.id) {
        <div class="aircraft-card">

          <div class="card-header">
            <h3 class="matricula">{{ avion.matricula }}</h3>
            <span class="status-badge" [ngClass]="getEstadoClase(avion.estado)">
              {{ avion.estado | titlecase }}
            </span>
          </div>

          <div class="card-body">
            <h4 class="modelo">{{ avion.fabricante }} {{ avion.modelo }}</h4>

            <div class="specs-grid">
              <div class="spec-item">
                <i class="fas fa-users"></i>
                <span>Pasajeros: {{ avion.capacidadPasajeros }}</span>
              </div>
              <div class="spec-item">
                <i class="fas fa-tachometer-alt"></i>
                <span>Velocidad: {{ avion.velocidadCruceroKmh }} km/h</span>
              </div>
              <div class="spec-item">
                <i class="fas fa-route"></i>
                <span>Autonomía: {{ avion.autonomiaKm }} km</span>
              </div>
              <div class="spec-item">
                <i class="fas fa-tools"></i>
                <span>Rev: {{ avion.fechaUltimaRevision | date:'mediumDate' }}</span>
              </div>
            </div>
          </div>

          <div class="card-footer">
                <button class="btn-action btn-view" [routerLink]="['/admin/flota', avion.id]"  title="Ver">
                <span class="material-symbols-rounded">visibility</span>
                </button>
          </div>

        </div>
      } @empty {
        <div class="empty-state">
          <i class="fas fa-plane-slash"></i>
          <p>No hay aeronaves registradas</p>
        </div>
      }

    </div>

  </main>
</div>
<app-accesibilidad></app-accesibilidad>